---
layout: default
---
<img src="/assets/images/header.jpeg">
<h1>Hello, welcome to my Github Page!</h1>

<h3 class="text-left">Here are my recent blog posts</h3>
{% if site.posts.size > 0 %}
    
    {% for post in site.posts | limit: 10 %}
        
            <p>
                <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: '%b %-d, %Y'}}</time>
            </p>
            <a class="bloglist__link" href="{{ post.url }}">{{ post.title }}</a>
        
    {% endfor %}
    
{% else %}
    <p>No posts yet!</p>
{% endif %}
